.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout_left {
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.checkout_left > img {
  display: flex;
  object-fit: contain;
  height: 100px;
  width: 100%;
}

.checkout_right {
  margin-left: 5%;
}
